<p>sh-lookup works!</p>

<!-- ------------------------------------------- autocomplete -------------------------------------------- -->
<div>
  <p-autoComplete
    [suggestions]="AutoCompleteData"
    (completeMethod)="filterAutoData($event)"
    (onSelect)="selectedAutoValue($event)"
    (onClear)="OnClearedAutoComplete($event)"
    [showEmptyMessage]="true"
    [(ngModel)]="selectedAutoComplete"
    field="title"
    [minLength]="config.minSearchLength"
    *ngIf="!config.isFilterable"
    [placeholder]="cms.label"
    (onBlur)="blurAutoComplete($event)"
  ></p-autoComplete>
  <p
    style="margin: 0; color: red"
    *ngIf="formControlName.invalid && !config.isFilterable && showError"
  >
    Please select the option
  </p>
</div>

<!-- --------------------------------------------- dropdown ---------------------------------------------- -->

<div>
  <p-dropdown
    [options]="dropdownData"
    [placeholder]="cms.label"
    [(ngModel)]="selectedDropdown"
    [showClear]="true"
    optionLabel="title"
    *ngIf="config.isFilterable"
    (onChange)="changeDropdown($event)"
    (onClear)="OnClearedDropdown($event)"
    (onBlur)="blurDropdown($event)"
  ></p-dropdown>
  <p
    style="margin: 0; color: red"
    *ngIf="config.isFilterable && formControlName.invalid && showError"
  >
    Please select the option
  </p>
</div>
